@model MoviesProject.Models.Actor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        .movies {
            padding: 0;
            margin: 0;
        }

        .movies li {
            display: inline-block;
        }

        .movies li:after {
            content: ", ";
        }

        .movies li:last-child:after {
            content: "";
        }
    </style>
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>Movies</dt>
            <ul class="movies">
                @foreach (var movie in Model.Movies)
                {
                    <li>@Html.ActionLink(movie.Title, "Details", "Movies", new { id = movie.ID }, null)</li>
                }
            </ul>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
