@model MoviesProject.Models.Movie

@{
    ViewBag.Title = "Details";
}

@section Styles{
    <style>
        .actors {
            padding: 0;
            margin: 0;
        }

            .actors li {
                display: inline-block;
            }

                .actors li::after {
                    content: ", ";
                }

                .actors li:last-child:after {
                    content: "";
                }
    </style>
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-2 col-sm-12 p-md-2 p-sm-5">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img class="rounded" width="100%" height="auto" src="@Url.Content($"~/Images/{Model.ImagePath}")" alt="" />
        }
    </div>
    <div class="d-flex flex-column col-md-10 col-sm-12 p-4">
        <div><h3>@Html.DisplayFor(model => model.Title)</h3></div>
        <div><h4>Director: @Html.DisplayFor(model => model.Director.Fullname)</h4></div>
        <div>
            <ul class="actors">
                <strong>Starring:</strong>
                @foreach (var actor in Model.Actors)
                {
                    <li>@Html.ActionLink(@actor.Fullname, "Details", "Actors", new { id = actor.ID }, null)</li>
                }
            </ul>
        </div>
        <div>@Html.DisplayFor(model => model.Summary)</div>
        <div class="align-self-end"><h5>@Html.DisplayFor(model => model.UserRating)</h5></div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
